{% extends 'dashboard.html' %}
{% block dash %}
<h2>Orders - {{ open[0] }} not ordered / {{ all[0] }} all</h2>
<div class="table-responsive">
<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>UserID</th>
      <th>User name</th>
      <th>Date</th>
      <th>Price</th>
      <th>Open</th>
    </tr>
  </thead>
  <tbody>
  {% if orders != None %}
  {% for order in orders %}
    <tr {% if order[4] == False  %} class="table-success" {% endif %}>
      <td>{{ order[0] }}</td>
      <td>{{ order[1] }}</td>
      <td>{{ order[5] }}</td>
      <td>{{ order[2] }}</td>
      <td>{{ order[3] }}</td>
      <td>{{ order[4] }}</td>
    </tr>
  {% endfor %}
  {% endif %}
  </tbody>
</table>
</div>
{% endblock %}