{% extends "header.html" %}
{% block body %}

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/orders/">
              <span data-feather="file"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/products/">
              <span data-feather="shopping-cart"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/users/">
              <span data-feather="users"></span>
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/brands/">
              <span data-feather="bar-chart-2"></span>
              Brands
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/categories/">
              <span data-feather="layers"></span>
              Categories
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        {% block dash %}
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>
            <h5>Most productive days - SUM of price in one day is more than <b>15 000</b> </h5>
            <table class="table table-sm">
              <thead class="thead-dark">
                <tr>
                  <th>Count of orders</th>
                  <th>Date</th>
                  <th>Total amount of price</th>
                  <th>Most expensive order</th>
                </tr>
              </thead>
              <tbody>
              {% if stat1 != None %}
              {% for st in stat1 %}
                <tr>
                  <td>{{ st[0] }}</td>
                  <td>{{ st[1] }}</td>
                  <td>{{ st[2] }}</td>
                  <td>{{ st[3] }} </td>
                </tr>
              {% endfor %}
              {% endif %}
              </tbody>
            </table>

            <h5>Users with a higher average order price than the average of all users</h5>
            <table class="table table-sm">
              <thead class="thead-dark">
                <tr>
                  <th>User</th>
                  <th>Count of orders</th>
                  <th>SUM of price</th>
                </tr>
              </thead>
              <tbody>
              {% if stat2 != None %}
              {% for st in stat2 %}
                <tr>
                  <td>{{ st[0] }}</td>
                  <td>{{ st[1] }}</td>
                  <td>{{ st[2] }}</td>
                </tr>
              {% endfor %}
              {% endif %}
              </tbody>
            </table>
        {% endblock %}
    </main>
  </div>
</div>

{% endblock %}