{% extends "products_header.html"  %}
{% block products %}
        {% if products != None %}
            {% if form != None %}
                <div class="row">
                    <div class="col-12 w-100 d-block my-3">
                        {% from "__formhelpers.html" import render_field %}
                        <form method="post" action="/" class="form-inline">
                            {{ render_field(form.find_name, class_='form-control mx-3') }}
                            <button type="submit" class="btn btn-primary">Find</button>
                        </form>
                    </div>
                </div>
            {% endif %}
            <div class="row">

            {% for product in products %}
                <div class="col-md-3">
                    <div class="card mb-4 shadow-sm">
                        <img src="{{ product[4] }}" class="card-img-top s img-fluid" alt="{{ product[0] }}_img">
                    <div class="card-body">
                        <h4><a href="/products/{{ product[0] }}" class="text-dark">{{ product[1] }}</a></h4>
                        <p class="card-text">{{ product[3][:100] }}{% if product[3]|length > 100 %}... {% endif %}</p>
                        <small>ID: #{{ product[0] }}</small>
                        <div class="d-flex justify-content-between align-items-center">
                            <button type="button" class="btn btn btn-outline-info">View</button>
                                {% if 'logged-in' in session %}
                                    <form action="/cart/add" method="post">
                                        <input type="hidden" name="product_id" value="{{ product[0] }}">
                                        <button type="submit" class="btn btn btn-outline-success">
                                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">Add to cart</span>
                                        </button>
                                    </form>
                                {% endif %}
                            <div class="aler alert-primary p-2 rounded" role="alert">{{ '%0.2f' % product[2] }} €</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
             <div class="btn-group mb-3 text-center mx-auto">
            {% if page == 1 %}
                <a class="btn btn-light disabled">PREV</a>
            {% else %}
                <a class="btn btn-primary" href="/{{ page - 1 }}">PREV</a>
            {% endif %}
                <a class="btn btn-light">{{ page }}</a>
            {% if products|length < 20 %}
                <a class="btn btn-light disabled">NEXT</a>
            {% else %}
                <a class="btn btn-primary" href="/{{ page + 1 }}">NEXT</a>
            {% endif %}
            </div>
        {% else %}
            <h3>None of products</h3>
        {% endif %}

{% endblock %}
